$primary-color: pink;
$secondary-color: #ffffff;
$danger-color: #ec3232;
$success-color: #68cd86;
$warning-color: #ffb648;
$white-color: #ffffff;
$font-color: #212b36;
$muted-color: #637381;
$grey-color: #e0e0e0;
$dark-color: #212b36;
